EMAIL_SEND_PORT=3025
EMAIL_SEND_HOST=greenmail
EMAIL_SEND_USER=user2@localhost
EMAIL_SEND_PASSWORD=user2@localhost

EMAIL_RECEIVE_PORT=3143
EMAIL_RECEIVE_HOST=greenmail
EMAIL_RECEIVE_USER=user1@localhost
EMAIL_RECEIVE_PASSWORD=user1@localhost
# depending on IMAP server folder separators may be different, e.g. INBOX.folder1 or INBOX/folder1
# greenmails uses . gmail /
EMAIL_RECEIVE_FOLDER=["INBOX.folder1"]

